*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}
header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    align-items: center;
    background-color: rgba(2, 217, 245, 0.795);
    color: white;
}
.logo {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 50px;
}
.menu {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    height: 59px;
}
.menu ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 59px;
}
.main {
    display: flex;
    flex-flow: column;
}
.menu-2 {
    position: absolute;
    top: 34%;
    left: 16%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 15vh;
    color: white;
    border-radius: 35px;
}
.menu-2 .opcao {
    width: 44%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.menu-2 select {
    height: 5vh;
    width: 45%;
    font-size: 18px;
    font-family: cursive;
}
.menu-2 .go {
    border-radius: 50px;
    width: 40px;
    background-color: #10b1daa8;
    color: white;
    font-size: 18px;
    font-family: cursive;
}
.menu-2 form {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    width: 55%;
}
.menu-2 input {
    height: 5vh;
    width: 75%;
    font-size: 20px;
    font-family: cursive;
}
.menu-2 form button {
    width: 100px;
    height: 40px;
    background-color: #10b1daa8;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-family: cursive;
}
.container-1 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center; 
}
.capa1{
    width: 80%;
    height: 50vh;
    background-image: url(./img/foto_predio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-top: 50px;
    border-radius: 10px;
}
.container-2 {
    width: 100%;
    height: 50vh;
}
.container-3 {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.card p {
    color: #a3a5ae;
    font-size: 16px;
}
.image {
    float: right;
    max-width: 64px;
    max-height: 64px;
}
.blue {
    border-left: 3px solid #4895ff;
    height: 30vh;
}
.green {
    border-left: 3px solid #3bb54a;
    height: 30vh;
}
.red {
    border-left: 3px solid #b3404a;
    height: 30vh;
}
footer {
    display: flex;
    flex-flow: column;
    height: 20vh;
    align-items: center;
}
.devs h3 {
    text-align: center;
    font-family: 'Staatliches', cursive;
}
.rds {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-top: 20px;
}
.rds img {
    width: 40px;
}